#chartCountAccessService{
    width: 600px;
    height: 450px;
    margin: 0 auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

#formSubmitService{
    width: 600px;
    height: 250px;
    margin: 0 auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

#showRealtimeService{
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
    margin-top: 0px;
}