:root {
  --main-bg-color:#EFEFEF ;
  --second-bg-color:#FFFFFF;
  --add-color:#0E1623;
  --lineTextBr-color:#BC221B;
}

h1 {
  text-align: center;
  background-color: rgba(45, 45, 45, 0.1);
  padding: 2px;
  font-size: 20px;
  margin-top: 3px;
}

p {
  text-align: justify;
}

.links {
  text-align: left;
  color: black;
}

#thumbnail {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.fullCard {
  height: 500px;
  width: 305px;
  border: 1px solid #ccc;
  border-radius: 1px;
  margin: 10px 5px;
  padding: 4px;
}

.fullCardDetection {
  width: 320px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 1px;
  margin: 10px 5px;
  padding: 4px;
}

.fullCardLog {
  width: 380px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 1px;
  margin: 10px 5px;
  padding: 4px;
}

.cardRowLow {
  width: 350px;
  border: 1px;
}

.cardRow {
  width: 300px;
  border: 1px;
}

.cardContent {
  padding: 10px;
}

.cardText {
  margin-bottom: 30px;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333;
  /* old IE */
  background-color: #333;
  /* Modern Browsers */
}